@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization;
@using AssignmentsNetcore.Models;
@inject IViewLocalizer Localizer
@model AssignmentsNetcore.Models.Views.TabFormViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="component">
    <h2>@Localizer["Edit"]</h2>
    <h4>@Localizer["OptionTitleTab"]</h4>
    <hr />
    <form asp-action="Edit" class="component-form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">@Localizer["OptionTitleClient"]</label>
            <br>
            <select asp-for="ClientId" 
                    asp-items="@Model.Clients"
                    class="box-dimension-200px-300px">
            </select>
        </div>
        <div class="form-group">
            <label asp-for="StartDate" class="control-label"></label>
            <input asp-for="StartDate" class="form-control" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EndDate" class="control-label"></label>
            <input asp-for="EndDate" class="form-control" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">@Localizer["ProjectStatus"]</label>
            <br>
            <select asp-for="ProjectStatus" 
                    asp-items="Html.GetEnumSelectList<ProjectStatus>()"
                    class="box-dimension-200px-300px">
            </select>
        </div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </form>
    <div>
        <a class="option-link" asp-action="Index">@Localizer["BackToList"]</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
