@using Microsoft.AspNetCore.Identity;
@using AssignmentsNetcore.Models.Views;
@using AssignmentsNetcore.Models.Database;
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization;
@model LoginViewModel
@inject SignInManager<User> SignInManager;
@inject IViewLocalizer Localizer

<div class="component">
@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <h3 class="component-title">@Localizer["Login"]</h3>
    <div asp-validation-summary="All"></div>
    <div class='form-group'>
        @Html.Label(Localizer["UserName"].Value)
        <br />
        @Html.EditorFor(model => model.UserName)
        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger"})
    </div>
    <div class='form-group'>
        @Html.Label(Localizer["Password"].Value)
        <br />
        @Html.EditorFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger"})
    </div>
    <div class='form-group'>
        @Html.Label(Localizer["RememberMe"].Value)
        @Html.EditorFor(model => model.RememberMe)
        @Html.ValidationMessageFor(model => model.RememberMe, "", new { @class = "text-danger"})
    </div>
    <div>
        <input type="submit" value="Login"/>
    </div>
}
</div>
@{
    @using (Html.BeginForm("ExternalLogin", "Account", FormMethod.Post))
    {
        foreach (var provider in Model.LoginProviders)
        {
            <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>
        }
    }
}

