@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization;
@inject IViewLocalizer Localizer
@model AssignmentsNetcore.Models.Views.ClientViewModel
@using AssignmentsNetcore.Models.Views

@{
    ViewData["Title"] = "Delete";
}

<div class="component">
    <h2>@Localizer["Delete"]</h2>
    <h3>@Localizer["ConfirmDelete"]</h3>
    <h4>@Localizer["OptionTitleClient"]</h4>
    <div>
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div>
        @Html.DisplayFor(model => model.Name)
    </div>
    <div>
        @Html.DisplayNameFor(model => model.CreatedAt)
    </div>
    <div>
        @Html.DisplayFor(model => model.CreatedAt)
    </div>
    <div>
        @Html.DisplayNameFor(model => model.UpdatedAt)
    </div>
    <div>
        @Html.DisplayFor(model => model.UpdatedAt)
    <div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a class="option-link" asp-action="Index">@Localizer["BackToList"]</a>
    </form>
</div>
