@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model AssignmentsNetcore.Models.Views.OfficeFormViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="component">
    <h2>@Localizer["Create"]</h2>
    <h4>@Localizer["OptionTitleOffice"]</h4>
    <hr />
    <form asp-action="Create" class="component-form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">@Localizer["Country"]</label>
            <br>
            <select asp-for="Country.Id" 
                    asp-items="@Model.Countries"
                    class="box-dimension-200px-300px">
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Address" class="control-label"></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </form>
     <a class="option-link" asp-action="Index">@Localizer["BackToList"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
