@model AssignmentsNetcore.Models.Views.AssignmentViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="sub-label">
    @Html.DisplayNameFor(model => model.PersonTech.Mail)
</div>
<div>
    @Html.DisplayFor(model => model.PersonTech.Mail)
</div>
<div class="sub-label">
    @Html.DisplayNameFor(model => model.Project.TabName)
</div>
<div>
    @Html.DisplayFor(model => model.Project.TabName)
</div>
<div class="sub-label">
    @Html.DisplayNameFor(model => model.StartDate)
</div>
<div>
    @Html.DisplayFor(model => model.StartDate)
</div>
<div class="sub-label">
    @Html.DisplayNameFor(model => model.EndDate)
</div>
<div>
    @Html.DisplayFor(model => model.EndDate)
</div>
<div class="sub-label">
    @Html.DisplayNameFor(model => model.Workload)
</div>
<div>
    @Html.DisplayFor(model => model.Workload)
</div>
<div class="sub-label">
    @Html.DisplayNameFor(model => model.Position.Name)
</div>
<div>
    @Html.DisplayFor(model => model.Position.Name)
</div>