@using AssignmentsNetcore.Models.Database
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization;
@inject IViewLocalizer Localizer
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = Localizer["HomePage"];
}
@if (SignInManager.IsSignedIn(User))
{
    <div class="display-flex-center flex-wrap">
        <div class="home-option">
            <h2>@Localizer["OptionTitleTech"]</h2>
            <i class="fas fa-microchip home-option-icon"></i>
            <p class="home-option-description">@Localizer["OptionDescriptionTech"]</p>
            <div class="width-100-percent display-flex-around flex-direction-row">
                <a class="option-link" asp-area="" asp-controller="Tech" asp-action="Index">@Localizer["List"]</a>
                <a class="option-link" asp-area="" asp-controller="Tech" asp-action="Create">@Localizer["Create"]</a>
            </div>
        </div>
        <div class="home-option">
            <h2>@Localizer["OptionTitleOffice"]</h2>
            <i class="fas fa-building home-option-icon"></i>
            <p class="home-option-description">@Localizer["OptionDescriptionOffice"]</p>
            <div class="width-100-percent display-flex-around flex-direction-row">
                <a class="option-link" asp-area="" asp-controller="Office" asp-action="Index">@Localizer["List"]</a>
                <a class="option-link" asp-area="" asp-controller="Office" asp-action="Create">@Localizer["Create"]</a>
            </div>
        </div>
        <!-- TODO: Delete
        <div class="home-option">
            <h2>JobRole</h2>
            <i class="fas fa-check-circle home-option-icon"></i>
            <p class="home-option-description">@Localizer["OptionDescriptionJobRole"]</p>
            <div class="width-100-percent display-flex-around flex-direction-row">
                <a class="option-link" asp-area="" asp-controller="JobRole" asp-action="Index">@Localizer["List"]</a>
                <a class="option-link" asp-area="" asp-controller="JobRole" asp-action="Create">@Localizer["Create"]</a>
            </div>
        </div>
        -->
        <div class="home-option">
            <h2>Person</h2>
            <i class="fas fa-user-circle home-option-icon"></i>
            <p class="home-option-description">@Localizer["OptionDescriptionPerson"]</p>
            <div class="width-100-percent display-flex-around flex-direction-row">
                <a class="option-link" asp-area="" asp-controller="Person" asp-action="Index">@Localizer["List"]</a>
                <a class="option-link" asp-area="" asp-controller="Person" asp-action="Create">@Localizer["Create"]</a>
            </div>
        </div>
        <div class="home-option">
            <h2>Client</h2>
            <i class="fas fa-comments-dollar home-option-icon"></i>
            <p class="home-option-description">@Localizer["OptionDescriptionClient"]</p>
            <div class="width-100-percent display-flex-around flex-direction-row">
                <a class="option-link" asp-area="" asp-controller="Client" asp-action="Index">@Localizer["List"]</a>
                <a class="option-link" asp-area="" asp-controller="Client" asp-action="Create">@Localizer["Create"]</a>
            </div>
        </div>
        <div class="home-option">
            <h2>Commercial</h2>
            <i class="fas fa-cash-register home-option-icon"></i>
            <p class="home-option-description">@Localizer["OptionDescriptionCommercial"]</p>
            <div class="width-100-percent display-flex-around flex-direction-row">
                <a class="option-link" asp-area="" asp-controller="Commercial" asp-action="Index">@Localizer["List"]</a>
                <a class="option-link" asp-area="" asp-controller="Commercial" asp-action="Create">@Localizer["Create"]</a>
            </div>
        </div>
        <div class="home-option">
            <h2>Training</h2>
            <i class="fas fa-chalkboard-teacher home-option-icon"></i>
            <p class="home-option-description">@Localizer["OptionDescriptionTraining"]</p>
            <div class="width-100-percent display-flex-around flex-direction-row">
                <a class="option-link" asp-area="" asp-controller="Training" asp-action="Index">@Localizer["List"]</a>
                <a class="option-link" asp-area="" asp-controller="Training" asp-action="Create">@Localizer["Create"]</a>
            </div>
        </div>
        <div class="home-option">
            <h2>ProjectComponent</h2>
            <i class="fas fa-cogs home-option-icon"></i>
            <p class="home-option-description">@Localizer["OptionDescriptionProjectComponent"]</p>
            <div class="width-100-percent display-flex-around flex-direction-row">
                <a class="option-link" asp-area="" asp-controller="ProjectComponent" asp-action="Index">@Localizer["List"]</a>
                <a class="option-link" asp-area="" asp-controller="ProjectComponent" asp-action="Create">@Localizer["Create"]</a>
            </div>
        </div>
        <div class="home-option">
            <h2>Assignments</h2>
            <i class="fas fa-address-book home-option-icon"></i>
            <p class="home-option-description">@Localizer["OptionDescriptionAssignments"]</p>
            <div class="width-100-percent display-flex-around flex-direction-row">
                <a class="option-link" asp-area="" asp-controller="Assignment" asp-action="Index">@Localizer["List"]</a>
                <a class="option-link" asp-area="" asp-controller="Assignment" asp-action="Create">@Localizer["Create"]</a>
            </div>
        </div>
    </div>
}
else
{
    <h1 class="color-white">@Localizer["Welcome"]</h1>
    <h1 class="color-white">@Localizer["PleaseSignIn"]</h1>
}
</div>