@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization;
@inject IViewLocalizer Localizer
@model AssignmentsNetcore.Models.Views.PersonFormViewModel
@using AssignmentsNetcore.Models

@{
    ViewData["Title"] = "Create";
}


<div class="component">
    <h2>@Localizer["Create"]</h2>
    <h4>@Localizer["OptionTitlePerson"]</h4>
    <hr />
    <form asp-action="Create" class="component-form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Surname" class="control-label"></label>
            <input asp-for="Surname" class="form-control" />
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Mail" class="control-label"></label>
            <input asp-for="Mail" class="form-control" />
            <span asp-validation-for="Mail" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EntryDate" class="control-label"></label>
            <input asp-for="EntryDate" class="form-control" />
            <span asp-validation-for="EntryDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Workload" class="control-label"></label>
            <input asp-for="Workload" class="form-control" />
            <span asp-validation-for="Workload" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
        </div>
        <div class="form-group display-flex-center">
            <div class="margin-right-15">
                <label>@Localizer["DeveloperIn"]</label>
                <select multiple="multiple" class="multi-select" id="persontechDev_multi_select" asp-for="@Model.DevTechIds" asp-items="Model.Techs"></select>
            </div>
            <div class="margin-right-15">
                <label>@Localizer["LeadDeveloperIn"]</label>
            <select multiple="multiple" class="multi-select" id="persontechLD_multi_select" asp-for="@Model.LDTechIds" asp-items="Model.Techs"></select>
            </div>
            <div class="margin-right-15">
                <label>@Localizer["TechnicalLeaderIn"]</label>
            <select multiple="multiple" class="multi-select" id="persontechTL_multi_select" asp-for="@Model.TLTechIds" asp-items="Model.Techs"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Office" class="control-label"></label>
            <select asp-for="OfficeId" class="form-control" asp-items="Model.Offices"></select>
            <span asp-validation-for="OfficeId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </form>
    <a class="option-link" asp-action="Index">@Localizer["BackToList"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
